
input {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  padding: 5px;
  margin-top: 6px;
}

select {
  font-size: 16px;
  margin-top: 6px;
}
h2 {
  margin-bottom: 5px;
}


.appHouse {
  color: white;
  padding: 10px;
}

.navBar {
  border-top: 1px solid #79b1c3;
  /* text-align: center; */
  padding-left: 30px;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color :#44708a;
  border-radius: 0 0 10px 10px;
  display: inline-block;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navBar li a:hover {
  background-color: #111;
}

.customMiddleLink {
  border-left: 1px solid #79b1c3;
  border-right: 1px solid #79b1c3;
}

body {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(25deg, #390f6d, #414692, #3a77b9, #00aae1);
    background-repeat: no repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divStyle  {
    border: 1px solid black;
  }

  // style from https://divtable.com/table-styler/
  
  div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 70%;
    text-align: left;
    border-collapse: collapse;
    font-size: 4rem;
  }
  .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  .divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
  }
  .divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
  }
  .divTable.blueTable .divTableHeading {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  .divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  .divTable.blueTable .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .blueTable .tableFootStyle {
    font-size: 14px;
  }
  .blueTable .tableFootStyle .links {
       text-align: right;
  }
  .blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .blueTable.outerTableFooter {
    border-top: none;
  }
  .blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}


